.backdrop{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 95px;
    overflow: hidden;
    z-index: -5;
    position: absolute;
}
.rect1, .rect2{
    align-self: flex-end;
    background-color: #9D87F2;
    /* background-color: #00000059; */
    opacity: 0.1;
    transform-origin: 60%;
    /* overflow: hidden; */
}
.rect1{
    width: 90px;
    height: 250px;
    border-radius: 25px;
    transform: skewY(-9deg) rotate(70deg) translate(0%, 5%);
}
.rect2{
    width: 70px;
    height: 150px;
    border-radius: 20px;
    transform: skewY(-13deg) rotate(75deg) translate(-140%, -5%);
}
.ellipse{
    width: 80%;
    height: auto;
}
.ellipse1{
    margin-top: 160px;
    border: 1px solid red;
}

/* ---------------------Media Queries-------------------- */
@media screen and (min-width: 320px){
    .rect1{
        width: 100px;
        height: 250px;
        border-radius: 25px;
        /* margin-bottom: 110px; */
        transform: skewY(-9deg) rotate(70deg) translate(20%, 15%);
    }
    .rect2{
        width: 80px;
        height: 170px;
        border-radius: 20px;
        transform: skewY(-13deg) rotate(75deg) translate(-108%, 2%);
    }
    .ellipse1{
        margin-top: 100px;
    }
}
@media screen and (min-width: 425px){
    .rect1{
        width: 150px;
        height: 350px;
        border-radius: 40px;
        /* margin-bottom: 110px; */
        transform: skewY(-9deg) rotate(70deg) translate(20%, 15%);
    }
    .rect2{
        width: 120px;
        height: 250px;
        border-radius: 30px;
        transform: skewY(-13deg) rotate(73deg) translate(-100%, -5%);
    }
}
@media screen and (min-width: 680px) {
    .rect1{
        width: 200px;
        height: 400px;
        border-radius: 50px;
        /* margin-bottom: 110px; */
        /* transform: skewY(-9deg) rotate(70deg) translate(20%, 15%); */
    }
    .rect2{
        width: 150px;
        height: 380px;
        border-radius: 40px;
        transform: skewY(-13deg) rotate(73deg) translate(-100%, -5%);
    }
}
@media screen and (min-width: 725px) {
    .backdrop{
        position: absolute;
        margin-left: auto;
    
    }
    .rect1, .rect2{
        background-color: #9D87F2;
        transform-origin: 10%;
    }
    .rect1{
        width: 600px;
        height: 220px;
        border-radius: 75px;
        margin-bottom: 110px;
        transform: skewY(-8deg) rotate(-25.12deg) translate(20%, 110%);
    }
    .rect2{
        width: 800px;
        height: 150px;
        border-radius: 50px;
        transform: skewY(-15deg) rotate(-19deg) translate(55%, 190%);
    }
}
@media screen and (min-width: 980px) {
    .backdrop{
        padding-bottom: 40%;
    }
    .rect1{
        transform: skewY(-8deg) rotate(-25.12deg) translate(5%, 110%);
    }
        .rect2{
        transform: skewY(-15deg) rotate(-19deg) translate(45%, 190%);
    }
} 
@media screen and (min-width: 1024px) {
    .backdrop{
        padding-bottom: 40%;
    }
    .rect1{
        width: 1000px;
        height: 220px;
        transform: skewY(-8deg) rotate(-25.12deg) translate(38%, 160%);
    }
    .rect2{
        width: 900px;
        height: 190px;
        transform: skewY(-15deg) rotate(-18deg) translate(50%, 119%);
    }
}
@media screen and (min-width: 1100px) {
    .rect1{
        width: 1000px;
        height: 250px;
        transform: skewY(-8deg) rotate(-25.12deg) translate(20%, 145%);
    }
    .rect2{
        width: 900px;
        height: 190px;
        transform: skewY(-15.80deg) rotate(-18deg) translate(31%, 130%);
    }
}
