.section2{
    margin: 50px auto;
    display:flex;
    align-items: center;
    justify-content:center;
}
.container{
    background: url('../images/benefitsContainer.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 20px;
    height: 70vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.content{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}
.saly{
    width: 70%;
    height: auto;
    align-self: center;
    animation-name: saly;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: -2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: none;
}
@keyframes saly {
    0% {transform: translateY(-30px);}
    100%{transform: translateY(30px);}
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    margin: 50px 10px;
    color: white;
}
.text h2, .text p{
    line-height: 25px;
    margin-bottom: 20px;
}
.text h2{
    color:white;
}
.text p{
    font-size: 16px;
}





/* ------------------------Media Queries------------------------------------- */

@media screen and (min-width: 320px) {
    .text{
        margin: 50px 20px;
    }
}

@media screen and (min-width: 425px) {
    .text{
        margin: 50px 30px;
    }
}
@media screen and (min-width: 700px) {
    .text h2, .text p{
        margin-bottom: 15px;
    }
    .text h2 {
        line-height: 30px;
    }
}
@media screen and (min-width: 800px) {
    .content{
        flex-direction: row;
    }
    .saly{
        display: flex;
        width: 40%;
        margin-left: 40px;
    }
    @keyframes saly {
        0% {transform: translateY(-80px);}
        100%{transform: translateY(-50px);}
    }
    .text{
        width: 50%;
    }
}
@media screen and (min-width: 1200px) {
    .container{
        background-size: cover;
        width: 100%;
        height: 80vh;
        border: 1px solid red;
        padding: 30px;
    }
    .saly{
        width: 45%;
    }
    .text {
        width: 50%;
    }
}