.section {
  position: relative;
  margin: 100px 0;
  z-index: 2;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  z-index: 2;
}
.phoneWrapper {
  display: none;
}
.boxesWrapper {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.box {
  display: flex;
  flex-direction: column;
}
.h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
}
.text {
  font-size: 15px;
}
.contentbox {
  width: 100%;
  height: 300px;
  background-color: #f6f6fc;
  border-radius: 20px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  transition: background-colour, 0.3s ease-in;
}
.icon {
  width: 90px;
  height: 90px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1.5);
  transition: background-image, transform, 0.6s ease-in-out;
  display: flex;
}
/* Content Boxes Icons */
.icon1 {
  background-image: url("../images/featuresIconColoured.svg");
}
.icon2 {
  background-image: url("../images/featuresIcon2Colured.svg");
}
.icon3 {
  background-image: url("../images/featuresIcon3.svg");
}
.icon4 {
  background-image: url("../images/featuresIcon4Coloured.svg");
}
/* Background Color on Content Boxes */
.contentbox1 {
  background-color: #dcf4e4;
}
.contentbox2 {
  background-color: #fbf0e0;
}
.contentbox3 {
  background-color: #dfe9f9;
}
.contentbox4 {
  background-color: #f8d6dc;
}
.ellipse7 {
  width: 200px;
  height: 300px;
  position: absolute;
  top: -150px;
  left: -10px;
}
@media screen and (min-width: 320px) {
  .ellipse7 {
    left: -25px;
  }
}
@media screen and (min-width: 350px) {
  .ellipse7 {
    top: -200px;
    left: -100px;
  }
}
@media screen and (min-width: 550px) {
  .contentbox {
    padding: 50px;
  }
  .ellipse7 {
    width: 500px;
    height: 500px;
    top: -400px;
    left: -120px;
  }
}
@media screen and (min-width: 700px) {
    .container {
    justify-content: space-between;
  }
  .boxesWrapper {
    width: 100%;
  }
  .box {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .contentbox {
    padding: 50px  30px;
    width: 310px;
  }
     .contentbox:nth-child(1){
     margin: -50px 0;
 }
 .contentbox:nth-child(2){
     margin: 80px 0;
 }
}
@media screen and (min-width: 1024px) {
  .ellipse7 {
    left: -190px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    flex-direction: row;
    width: 100%;
  }
  .phoneWrapper {
    display: flex;
  }
  .phone {
    margin-left: -220px;
    animation-name: phone;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: -2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @keyframes phone {
    0% {
      transform: translateY(-40px);
    }
    100% {
      transform: translateY(20px);
    }
  }
  .boxesWrapper {
    width: 650px;
    margin-left: -90px;

  }
  .contentbox {
    width: 310px;
    height: 300px;
    padding: 50px 30px;
  background-color: #f6f6fc;
  }
  .contentbox1 {
    background-color: #dcf4e4;
  }
  .contentbox:nth-child(2), .contentbox:nth-child(1){
    margin: 10px 10px;
 }
  .contentbox:hover .icon {
    transform: scale(1.8);
  }
  /* Content Boxes Icons */
  .icon2{
    background-image: url("../images/featuresIcon2.svg");
}
.icon3{
    background-image: url("../images/featureIcon3Coloured.svg");
}
.icon4{
    background-image: url("../images/featuresIcon4.svg");
}
  /* Hover Effect on Icons */
  .contentbox:hover .icon2{
    background-image: url("../images/featuresIcon2Colured.svg");
}
.contentbox:hover .icon3{
    background-image: url("../images/featuresIcon3.svg");
}
.contentbox:hover .icon4{
    background-image: url("../images/featuresIcon4Coloured.svg");
}
  /* Hover Effect on Content Boxes */
  .contentbox1 {
    background-color: #dcf4e4;
  }
  .contentbox2:hover {
    background-color: #fbf0e0;
  }
  .contentbox3:hover {
    background-color: #dfe9f9;
  }
  .contentbox4:hover {
    background-color: #f8d6dc;
  }
  .text {
    height: 55px;
  }
  .ellipse7{
    z-index: 2;
  }
}
