
.footer{
    background-color: #f6f6fc;
    width:100%;
    padding:  40px 20px;
    position: relative;
    z-index: 1;

}
.ellipse{
    width: 200px;
    height: 200px;
    position: absolute;
    top: -130px;
    right:0;
}
.footerWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contactSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #C4C4C4;
    padding: 20px 0 40px;
    margin: 20px 0;

}
.contactWrapper{
    margin: 0 0 10px;
}
.contactInfoWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contactWrapper h5{
    font-size: 16px;
    line-height: 25px;
    margin:0 0 10px;
}
.contactWrapper p{
    font-size: 14px;
    font-weight: 700;
}
.contactInfo{
    display: flex;
    justify-content: space-between;
    width:180px;
    margin:0 0 10px;
}
.socialsInfo{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footerNav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px 0 40px;
}
.img2{
     width: 109px;
  height: 29px;
}
.ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:10px 0 20px;
    width:  250px;
}
.li{
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    width:100px;
}
.li a{
    font-size: 14px;
    color:  black;
    font-weight: 700;
    text-align: left;
}
.legalSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.legalWrapper{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    width: 240px;
}
.legalWrapper:nth-child(2){
        width:200px;
    }
.legalSection p, .link{
    font-size: 15px;
    color:#424242;
}

@media screen and (min-width: 425px) {
    .contactInfoWrapper{
        flex-direction: row;
        width: 380px;
    }
    .ul{
        width: 400px;
        align-items: center;
    }
    .li{
        width: 90px;
    }
     .legalSection{
        flex-direction: row;
        margin: 10px 0;
    }
}
@media screen and (min-width: 525px) {
    .legalSection{
        flex-direction: row;
        margin: 10px 0;
    }
}
@media screen and (min-width: 700px) {
    .contactSection{
        flex-direction: row;
        padding: 20px 0;
    }
    .footerNav{
        flex-direction: row;
        align-items: center;
        margin:10px 0;
    }
    .ul{
        margin: 0;
    }
    .ellipse{
        width: 300px;
        height:350px;
        top:-250px;
    }
    
}
@media screen and (min-width: 750px) {
    .footer{
        padding: 40px  50px;
    }
   
}
@media screen and (min-width: 800px) {
      .footerNavWrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 540px;
    }
   
}
@media screen and (min-width: 900px) {
    .footer{
        padding: 40px  100px;
    }
}
