.section{
    margin: 150px 150px;
}
.h2{
    color: #121755;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 70px;
}
.collapsibles{
    display: flex;
    justify-content: space-between;
}
.collapsiblesRow{
    width: 100%;
}

.collapsibleItem{
    margin-bottom: 15px;
    height: auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.308);
}
.collapsibleItemR1{
    margin-right: 15px; 
}
.collapsibleItemR2{
    margin-left: 15px;
}
.collapsibleHeading{
    display: flex;
    justify-content: space-between;
}
.p{
    font-weight: 600;
    font-size: 1.1rem;
    padding-bottom: 30px;
    /* border-bottom: 1px solid rgba(128, 128, 128, 0.308); */
}
.span1, .span2{
    float: right;
    font-weight: 200;
    padding-left: 20px;
}
.expand{
    display: flex;
}
.hidden{
    width: 100%;
    padding: 10px 0px;
    display: none;
}