.section2{
    margin: 150px auto;
}
.container{
    background-color: hsl(237, 18%, 21%);
    border-radius: 20px;
    padding-bottom: 30px;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.content{
    margin: -50px auto 0 auto;
}
.swirls{
    position: relative;
}
.swirl1, .swirl2, .swirl3, .swirl4, .swirl5{
    position: absolute;
    width: 15%;
    height: auto;
}
.swirl1{
    top: -16px;
    left: -20px;
}
.swirl2{
    top: -25px;
    left: 90px;
}
.swirl3{
    top: 180px;
    right: -25px;
}
.swirl4{
    top: 509px;
    right: -15px;
}
.swirl5{
    top: 523px;
    left: 50px;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.saly{
    width: 70%;
    height: auto;
    align-self: center;
    animation-name: saly;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: -2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes saly {
    0% {transform: translateY(30px);}
    100%{transform: translateY(50px);}
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 70px 10px 50px 10px;
    color: white;
}
.text h2, .text p{
    line-height: 20px;
    margin-bottom: 20px;
}
.text h2{
    font-size: .5rem;
}
.text p{
    text-align: center;
    font-size: .5rem;
}





/* ------------------------Media Queries------------------------------------- */
@media screen and (min-width: 280px) {
    .swirl1, .swirl2, .swirl3, .swirl4, .swirl5{
        width: 15%;
    }
    @keyframes saly {
        0% {transform: translateY(20px)};
        100%{transform: translateY(40px)};
    }
    .text{
        margin-top: 45px;
    }
    .swirl4{
    top: 555px;
    }
    .swirl5{
        top: 563px;
    }
}
@media screen and (min-width: 320px) {
    .swirl1, .swirl2, .swirl3, .swirl4, .swirl5{
        width: 25%;
    }
    .text{
        margin-top: 35px;
        padding-bottom: 60px;
    }
    .swirl1{
        top: -20px;
    }
    .swirl2{
        top: -30px;
        left: 120px;
    }
    .swirl4{
        top: 620px;
    }
    .swirl5{
        top: 628px;
        left: 80px;
    }
    .text p{
        margin-bottom: 50px;
    }
}
@media screen and (min-width: 375px) {
    .swirl2{
        left: 150px;
    }
    .swirl4{
        top: 720px;
    }
    .swirl5{
        top: 730px;
    }
    .text{
        
    }
}
@media screen and (min-width: 425px) {
    .swirl1{
        top: -35px;
        left: -27px;
    }
    .swirl2{
        top: -52px;
        left: 150px;
    }
    .swirl3{
        top: 150px;
        right: -30px;
    }
    .swirl4{
        top: 485px;
        right: -25px;
    }
    .swirl5{
        top: 490px;
        left: 90px;
    }
    .saly{
        margin-top: -10px;
    }
    @keyframes saly {
        0% {transform: translateY(-30px)};
        100%{transform: translateY(-0px)};
    }
    .text{
        margin-top: 0px;
    }
}
@media screen and (min-width: 440px) {
    .text h2, .text p{
        margin-bottom: 15px;
    }
}
@media screen and (min-width: 500px) {
    .container{
        /* height: 73vh; */
    }
    .swirl1, .swirl2, .swirl3, .swirl4, .swirl5{
        width: 21%;
    }
    .swirl2{
        left: 170px;
    }
    .swirl3{
        top: 50px;
        right: -30px;
    }
    .swirl4{
        top: 400px;
    }
    .swirl5{
        top: 410px;
        left: 130px;
    }
    .content{
        flex-direction: row;
        justify-content: center;
    }
    .saly{
        width: 50%;
        margin-top: -150px;
    }
    @keyframes saly {
        0% {transform: translateY(-30px);}
        100%{transform: translateY(60px);}
    }
    .text{
        margin: 120px 10px;
        align-items: flex-start;
    }
    .text h2, .text p{
        margin-bottom: 15px;
        text-align: left;
    }
}
@media screen and (min-width: 639px) {
    .swirl1, .swirl2, .swirl3, .swirl4, .swirl5{
        width: 18%;
    }
    .swirl1{
        top: -40px;
    }
    .swirl2{
        left: 230px;
    }
    .swirl3{
        top: 100px;
    }
    .swirl4{
        top: 430px;
    }
    .swirl5{
        left: 190px;
    }
    .content{
        flex-direction: row;
        justify-content: center;
    }
    .text{
        margin: 120px 10px;
        align-items: flex-start;
    }
    .text h2, .text p{
        margin-bottom: 15px;
        text-align: left;
    }
}
@media screen and (min-width: 680px) {
    .section2{
        margin: 250px auto;
    }
    .swirl1{
        left: -32px;
    }
    .swirl3{
        top: 80px;
    }
    .swirl4{
        top: 410px;
    }
    .swirl5{
        top: 420px
    }
}
@media screen and (min-width: 768px) {
    .container{
        /* height: 70vh; */
        display: flex;
    }
    .content{
        margin-top: -50px;
        padding: 10px;
    }
    .swirl1,.swirl2, .swirl3, .swirl4, .swirl5{
        width: 15%;
    }
    .swirl3{
        top: 50px;
        right: -45px
    }
    .swirl4{
        top: 380px;
    }
    .swirl5{
        top: 390px;
    }
    @keyframes saly {
        0% {transform: translateY(0px);}
        100%{transform: translateY(50px);}
    }
    .text{
        padding: 10px;
    }
    .text h2{
        font-size: 1.2rem;
    }
    .text p{
        font-size: .9rem;
    }
}
@media screen and (min-width: 850px) {
    .swirl3{
        right: -50px;
        top: 50px;
    }
    .text h2, .text p{
        line-height: 24px;
    }
    .text h2{
        font-size: 1.3rem;
    }
    .text p{
        font-size: 1rem;
    }
}
@media screen and (min-width: 900px) {
    .saly{
        width: 45%;
    }
    @keyframes saly {
        0% {transform: translateY(-10px);}
        100%{transform: translateY(30px);}
    }
}
@media screen and (min-width: 950px) {
    .text{
        margin-right: 50px;
    }
}
@media screen and (min-width: 1024px) {
    .swirl3{
        right: -50px;
        top: 50px;
    }
    .text h2{
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 1120px) {
    .swirl2{
        top: -65px;
        left: 320px;
    }
    .swirl4{
        right: 15px;
    }
    .swirl5{
        top: 400px;
    }
}
@media screen and (min-width: 1200px) {
    .swirl2{
        top: -65px;
        left: 320px;
    }
    .swirl4{
        top: 410px;
    }
    .swirl5{
        top: 425px;
    }
    .text h2{
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 1300px) {
    .container{
        /* height: 69vh; */
    }
    .content{
        padding: 30px;
        justify-content: space-around;
    }
    .saly{
        width: 35%;
    }
    @keyframes saly {
        0% {transform: translateY(-20px);}
        100%{transform: translateY(50px);}
    }
    .swirl1, .swirl2, .swirl3, .swirl4, .swirl5{
        width: 13%;
    }
    .swirl1{
        top: -40px;
        left: -40px;
    }
    .swirl2{
        top: -70px;
        left: 450px;
    }
    .swirl3{
        top: 110px;
    }
    .swirl4{
        top: 420px;
    }
    .swirl5{
        top: 430px;
        left: 390px;
    }
    .text h2{
        line-height: 36px;
        font-size: 2rem;
    }
    .text p{
        margin-bottom: 45px;
    }
}