.section{
    height: 85vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content{
    display: flex;
    /* justify-content: space-between; */
    position: relative;
}
.h2{
    font-size: 2rem;
    color: #121755;
    font-weight: 800;
    margin-bottom: 50px;
}
.captions{
    width: 40%;
    height: 100%;
}
.captionContainer{
    display: flex;
}
.linewrap{
    display: flex;
    flex-direction: column;
}
.line{
    height: 11vh;
    width: 1%;
    border-left: 0.1rem dashed grey;
    margin: 0 0 8px 10px; 
}
.circle{
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #FDFDFD,
    #D6D6D6);
    color: #637381;
    width: 15px;
    height: 15px;
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px -5px;
}
.caption{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    height: 18.5vh;
    width: 75%;
    border: 1px solid red;
}
.text{
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
}
.h3{
    font-size: 20px;
    font-weight: 500;
}
.p{
    font-size: 14px;
    padding-top: 10px;
}
.images{
    width: 40%;
    height: 100%;  
    position: absolute;
    top: -5%;
    left: 45%;
    perspective: 200px;
}
.img{
    width: 600px;
    height: 430px;
    position: absolute;
    transform: translateZ(6px)
}
.phone1{
    /* top: */
    z-index: 3;
    transform: translateZ(10px);
}
.phone2{
    z-index: 2;
    top: 9%;
    transform: translateZ(-10px);
    opacity: 0.9;
}
.phone3{
    z-index: 1;
    top: 19%;
    transform: translateZ(-30px);
    opacity: 0.6;
}
.imgFocus{
    z-index: 3;
    top: 0%;
}

/* Animation Classes */
.cricle_animate{
    background-image: linear-gradient(to bottom,#F5AD59, #D97136);
    filter: drop-shadow(0px, 10px,rgba(245, 155, 49, 0.33));
}
/* .text_animate, .text:hover{
    opacity: 1;
    background-color: #F4F5FA;
    border-radius: 20px;
    padding: 50px;
    padding: 30px 30px 90px 30px;
} */
/* .h3_animate, .h3:hover{
    color: #222769;
} */
.p_animate, .p:hover{
    color: 18px;
}
/* .caption_animate, .caption:hover{
    height: 75px;
} */
.caption_animate2{
    height: 79px;
}


