.section{
    margin: 100px 150px;
}
.container{
    background-color: hsl(237, 18%, 21%);
    border-radius: 20px;
    height: 55vh;
    display: flex;

}
.content{
    /* width: fit-content; */
    display: flex;
    flex-direction: column;
    padding: 0 0 80px 80px;

}
.h2,.p{
    color: rgb(255, 255, 255);
}
.h2{
    font-size: 2.2rem;
    word-spacing: .3rem;
    line-height: 2.5rem;
    margin: 60px 0 20px 0;
}
.p{
    font-weight: 200;
    font-size: .99rem;
    line-height: 1.5rem;
}
.subscribe{
    display: flex;
}
.input{
    width: 320px;
    height: 39px;
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 10px;
    border: 1px solid grey;
    color: rgba(255, 255, 255, 0.678);
    font-size: 1rem;
    padding: 8px 0 8px 25px;
    margin: 30px 10px 0 0;
    outline: none;
}
.buttonContainer{
    align-self: flex-end;
}
.plane{
    position: relative;
    top: -60px;
    right: 20px;
    z-index: 1;
    height: 70vh;
    animation-name: plane;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-delay: -2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes plane {
    0%{transform: translateY(-20px);}
    100%{transform: translateY(40px);}
    
}