.section{
    margin: 50px 150px;
    /* border: 1px solid red; */
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h2{
    font-size: 2rem;
    color: #121755;
    font-weight: 800;
    margin-bottom: 50px;
    text-align: center;
    margin: 0;
}
.text p{
    color: #2B2C3E;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    margin: 30px 0 70px 0;
}
.imageWrapper{
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
}
.image{
    width: 100%;
    opacity: 0.2;
    transform: scale(1.3);
    transition: transform 0.5s ease-in;
}
.image:hover{
    opacity:1;
    transform: scale(1);
} 